// Common colors
$cdtblue: #008EAA;
$cdtgreen: #869B3C;
$cdtyellow: #F7B718;
$cdtred: #DF5927 ;
$cdtgold: #d19b30;
$blue: #0275d8 !default;
$red: #dd0000;
$green: #69913A;
$white: #FFF;
$driftwood: #827772;
$graydark: #454545; //#666;
$graymid: #AAA;//#DDD;
$graylight: #DEDEDE;//#EAEAEA;
$black: #211F1F;
$smoke: #f1f1f1;
